@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); /* Customize as needed */
  }

  .feedback-message {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    color: white;
    opacity: 0;
    z-index: 10;
  }
  
  .feedback-message.Correct {
    background-color: green;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
  }
  
  .feedback-message.Incorrect {
    background-color: red;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
  }
  
  