@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); /* Customize as needed */
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3); /* Light border */
  border-left-color: #fff; /* Main color */
  border-radius: 50%; /* Make it round */
  width: 40px; /* Size of the spinner */
  height: 40px; /* Size of the spinner */
  animation: spin 1s linear infinite; /* Spinning animation */
  margin: 0 auto; /* Center the spinner */
}

@keyframes spin {
  to {
    transform: rotate(360deg); /* Full rotation */
  }
}
